@import "foundation/components/buttons";
@import "foundation/components/block-grid";
@import "foundation/components/grid";
@import url(https://fonts.googleapis.com/css?family=Crafty+Girls);

$main-color: RGBA(237, 104, 181, 0.6);
$black-header: RGBA(0, 0, 0, 0.86);
$black-subheader: RGBA(0, 0, 0, 0.56);

@mixin search (){
    background-color: $main-color;
    color: white;
    cursor: pointer;
    letter-spacing: 4px;
    word-spacing: 5px;
    border: none;
}


//Header
@mixin header-search() {
    @include search();
    font-size: 20px;
    @media screen and (max-width: 1000px) {
           font-size: 17px;
       }
    text-align: right;
    display: block;
    position: fixed; top: 0px; left: 0px;
    margin: none;
    outline: none;
    width: 100%;
    height: 75px;
    z-index:+1;
}

@mixin search-input() {
    width:100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
}

@mixin buttons($color){
    text-transform: uppercase;
    background-color: RGBA(0, 0, 0, 0);
    border: 2px solid $color;
    border-radius: 5px;
    color: $color;
    display: center;
}

#header {
    @include header-search();
    img{
        margin: 8px;
        margin-left: 19px;
        max-width: 90px;
        float:left;
    }
    form {
        margin-right: 12px;
        margin-top: 10px;
        float: right;
        input[type="search"] {
            background-color: RGBA(0, 0, 0, 0);
            color: white;
            cursor: pointer;
            letter-spacing: 4px;
            word-spacing: 5px;
            border: 2px solid white;
            border-radius: 25px;
            padding: 4px;
            margin-top: 8px;
            outline: 0;
        } 
        ::-webkit-input-placeholder {
            color: white;
            padding-right:260px;
            padding-left:8px;
            font-family: FontAwesome;
            text-align: right;
            font-size: 20px;
            line-height: 25px;
            padding-right: 5px;
        }
    }
    button{
        visibility: hidden;
    }

}


//Home page search view
#home-div {
    h1{
         font-family: 'Crafty Girls', cursive;
         font-size: 80px;
         margin-bottom: 0px;
         @media screen and (max-width: 800px) {
            font-size: 50px;
        }
    }
    h2 {
        font-family: Helvetica, Arial, Sans-Serif;
        font-size: 30px;
        font-weight: 100;
        letter-spacing: 2px;
         @media screen and (max-width: 800px) {
            font-size: 20px;
        }
    }
    text-align: center;
    @include search();
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    .wrapper {
        margin-top:3em;
        form{
             input[type="search"] {
                max-width: 80%;
                color: $main-color;
                background: rgba(0, 0, 0, 0);
                font-size: 3em;
                font-weight: 300;
                text-align: center;
                margin: 0px auto;
                outline: none;
                border:0px;
                background: white;
                border-radius:30px;
                border-style: none;
            }   
            ::-webkit-input-placeholder {
                word-wrap: break-word;
                color: $main-color;
                opacity: 1;
                border:0px;
                background: white;
                border-radius:30px;
                font-family: FontAwesome;
                text-align: right;
                font-size: 30px;
                line-height: 55px;
                padding-right: 10px;
                
                
                @media screen and (max-width: 800px) {
                    font-size: 20px;
                }
            }   
          
            
            .submit {
                margin-top:48px;
                @include buttons(white);
                &:hover {
                    opacity: 0.5;
                }
            }
        }
         #signature, #error404 {
            img {
            max-width: 400px;
            }
         }
    }
}



//Product list

ul.large-block-grid-5 {
    margin-top:6em;
    text-align: center;
    li{
        padding: 20px;
        a {
            list-style: none;
            text-decoration: none;
            p{
                margin:1px;
            }
            img {
                width: 100%;
                max-width:250px;
                min-width:250px;
                max-height:250px;
                min-height:250px;
                padding:30px;
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
                
            }
            .name {
                font-family: Helvetica, Arial, Sans-Serif;
                color: $black-header;
                opacity:.82;
                font-size: 20px;
                text-decoration: none;
               
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
        
            }
            .brand {
                font-family: Helvetica, Arial, Sans-Serif;
                font-weight: bold;
                color: $black-subheader;
                font-size: 15px;
            
            }
            i{
                color:$main-color;
                margin:2px;
            }
        }
    }
    
    
}

button, .button{
    @include buttons($main-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
    &:hover {
        background-color:white;
        color:$main-color;
        opacity: 0.5;
    }
    &:focus {
        background-color: white;
        color: $main-color;
        outline: 0;
    }
}
    

//Product view with videos

#productProfile {
    margin-top: 133px;
    margin-bottom: 3em;
    div{
        padding:0px;
    }
    img{
        width:300px;
    }
    h1 {
        text-align: left;
        color:$black-header;
        font-family: Helvetica, Arial, Sans-Serif;
        font-weight:400;
        margin:0px;
        margin-bottom:20px;
        margin-left:5pm;
        
    }
    
    h2 {
        margin:0px;
        margin-bottom:30px;
        text-align: left;
        color:$black-subheader;
        font-family: Helvetica, Arial, Sans-Serif;
        margin-left:5pm;

    }
    a{
        float:left;
        @include buttons($main-color);
        text-decoration:none;
        padding:15px;
        margin-left:5pm;

    }

}


#videos {
    width:100%;
    padding:0px;
    margin: 0px;
    margin-top:20px;
    max-width: none;
    li{
        padding:2px;
        margin:0px;
        iframe{
            display: block;
            width:100%;
            min-height:300px;
            height:auto;
            border: 0;
        }
    }
}

#novideos{
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width:400px;
}
