@import "foundation/components/buttons";
@import "foundation/components/block-grid";
@import "foundation/components/grid";

<<<<<<< HEAD
=======

>>>>>>> 5163502c34293d2d945ae0d83c32e54f16a066fb
//Header
#searchbar {
    background-color: RGBA(237, 104, 181, 0.6);
    color: white;
    font-size: 25px;
    text-align: right;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 10%;
    letter-spacing: 4px;
    word-spacing: 5px;
    border: none;
    position: fixed; top: 0px; left: 0px;
    margin: none;
    outline: none;
    cursor: text;
}

::-webkit-input-placeholder {
    color: white;
    opacity: 0.5;
}


//Home page search view
body {
    padding: 40px;
    text-align: center;
    list-style: none;
    #search {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: RGBA(243, 169, 186, 1);
        /*   -webkit-transform: translate(0px, 0px) scale(1, 1);*/
        /*   -moz-transform: translate(0px, 0px) scale(1, 1);*/
        /*-o-transform: translate(0px, 0px) scale(1, 1);*/
        /*-ms-transform: translate(0px, 0px) scale(1, 1);*/
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
        display: table;
        ::-webkit-input-placeholder {
            color: white;
            opacity: 0.5;
        }
        form {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        input[type="search"] {
            width: 100%;
            color: rgb(255, 255, 255);
            background: rgba(0, 0, 0, 0);
            font-size: 60px;
            font-weight: 300;
            text-align: center;
            border: 0px;
            margin: 0px auto;
            margin-top: -51px;
            padding-left: 30px;
            padding-right: 30px;
            outline: none;
        }
        #submit {
            text-transform: uppercase;
            margin-top: 20px;
            background-color: RGBA(243, 169, 186, 1);
            border: 2px solid white;
            border-radius: 8px;
            &:hover {
                opacity: 0.5;
            }
        }
<<<<<<< HEAD
=======

>>>>>>> 5163502c34293d2d945ae0d83c32e54f16a066fb
    }
}
//Product view with videos

<<<<<<< HEAD
=======

//Product list view

>>>>>>> 5163502c34293d2d945ae0d83c32e54f16a066fb
a:link {
    text-decoration: none;
}


ul.large-block-grid-5 li {
    padding: 40px;
    
    img {
        width: 100%;
        padding: 10px;
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
    .name {
        font-family: Helvetica, Arial, Sans-Serif;
        color: black;
        font-size: 20px;
        // font-weight: bold;
        text-decoration: none;
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
    .brand {
        font-family: Helvetica, Arial, Sans-Serif;
        font-weight: bold;
        color: grey;
        font-size: 15px;
    }
}

//Product view with videos
h1 {
    text-align: left;
}

h2 {
    text-align: left;
}

iframe {
    padding: 20px;
    border: none;
}

#video {
    text-align: center;
<<<<<<< HEAD
=======

>>>>>>> 5163502c34293d2d945ae0d83c32e54f16a066fb
}