@import "foundation/components/buttons";
@import "foundation/components/block-grid";
@import "foundation/components/grid";
@import url(https://fonts.googleapis.com/css?family=Crafty+Girls);

$main-color: RGBA(237, 104, 181, 0.6);
$black-header: RGBA(0, 0, 0, 0.86);
$black-subheader: RGBA(0, 0, 0, 0.56);

@mixin search (){
    background-color: $main-color;
    color: white;
    cursor: pointer;
    letter-spacing: 4px;
    word-spacing: 5px;
    border: none;
}


//Header
@mixin header-search() {
    @include search();
    font-size: 25px;
    text-align: right;
    display: block;
    position: fixed; top: 0px; left: 0px;
    margin: none;
    outline: none;
    width: 100%;
    height: 70px;
    z-index:+1;
}

@mixin search-input() {
    width:100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    outline: none;
}

@mixin buttons($color){
    text-transform: uppercase;
    margin-top: 20px;
    background-color: RGBA(0, 0, 0, 0);
    border: 2px solid $color;
    border-radius: 8px;
    color: $color;
    display: center;
}

#header {
    @include header-search();
    form {
        margin-top:22px;
        vertical-align: right;
        margin-right: 20px;
         input[type="search"] {
            @include search-input();
        }   
        ::-webkit-input-placeholder {
                color: white;
                opacity: 0.5;
                padding-right: 30px;
                letter-spacing: 7px;
        }
    }
    button{
        visibility:hidden;
    }
}


//Home page search view
#home-div {
    h1{
     font-family: 'Crafty Girls', cursive;
     font-size:4em;
    }
    text-align: center;
    @include search();
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    .wrapper {
        form{
             input[type="search"] {
                width: 100%;
                color: rgb(255, 255, 255);
                background: rgba(0, 0, 0, 0);
                font-size: 3.2em;
                font-weight: 300;
                text-align: center;
                border: 0px;
                margin: 0px auto;
                outline: none;
            }   
            ::-webkit-input-placeholder {
                word-wrap: break-word;
                color: white;
                opacity: 0.5;
            }
            .submit {
                @include buttons(white);
                &:hover {
                    opacity: 0.5;
                }
            }
        }
         #signature{
            img {
                max-width: 300px;
                margin:50px;
            }
        }
    }
}



//Product list

ul.large-block-grid-5 {
    margin-top: 40px;
    text-align: center;
    li{
        padding: 20px;
        a {
            list-style: none;
            text-decoration: none;
    
            img {
                width: 100%;
                padding: 10px;
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
                
            }
            .name {
                font-family: Helvetica, Arial, Sans-Serif;
                color: $black-header;
                opacity:.82;
                font-size: 20px;
                text-decoration: none;
               
                &:hover {
                    opacity: 0.5;
                    cursor: pointer;
                }
        
            }
            .brand {
                font-family: Helvetica, Arial, Sans-Serif;
                font-weight: bold;
                color: $black-subheader;
                font-size: 15px;
            
            }
        }
    }
    
    
}

button, .button{
    @include buttons($main-color);
    margin-left: auto;
    margin-right: auto;
    display: block;
    &:hover {
        background-color:white;
        color:$main-color;
        opacity: 0.5;
    }
    &:focus {
        background-color: white;
        color: $main-color;
        outline: 0;
    }
}
    

//Product view with videos

#productProfile {
    margin-top: 133px;
    margin-bottom: 6em;
    img{
        max-width:200px;
        max-height:200px;
    }
    h1 {
        text-align: left;
        color:$black-header;
        font-family: Helvetica, Arial, Sans-Serif;
        font-weight:400;
        
    }
    
    h2 {
        text-align: left;
        color:$black-subheader;
        font-family: Helvetica, Arial, Sans-Serif;
    }

}


#videos {
    width:100%;
    padding:0px;
    margin: 0px;
    margin-top:20px;
    max-width: none;
    li{
        padding:2px;
        margin:0px;
        iframe{
            display: block;
            width:100%;
            height:300px;
            border: 0;
        }
    }
}

